.blue
{
	background-color:#80ccff;
}
.margin-large{
	margin-top: 70px;
	margin-right: 70px;
	margin-left: 70px;
	margin-bottom: 70px;
}
.uk-navbar-container .orange
{
	color: #ffbf80;
}
html body nav.uk-navbar-container.uk-navbar{
	background-color:#666666;
}
.no-bottom-margin
{
	margin-bottom: 0px;
}
.middle-panel
{
	margin-left: 10em;
	margin-right: 10em;
}
.height-100
{
	height: 100%;
}
.white
{
	background-color: white;
}
.center-elements
{
	display: flex;
	justify-content: center;
}
.padding-left-40
{
	padding-left: 40px;
}
.logo
{
	width: 80px;
}
.no-border
{
	background-color: white;
	border-width: 0px;
}
.change-onhover:hover
{
	background-color: white;
}
.change-onhover
{
	background-color: #ececec;
}
.no-top-margin
{
	margin-top: 0px!important;
}
.border-1
{
	border:1px;
}
.livesearch
{
	background-color: white;
 	position: absolute;
}
.positive
{
	background-color: #009933;
	color:white;
}
.white_bg
{
    background-color: white;
}
.form
{
	width:252px;
	margin-left: calc(50% - 125px);
	margin-top: 16%;
	position: relative;
}
.padding_45
{
	padding: 45px;
	margin-left: calc(50% - 170px)!important;
	margin-top: 15%!important;
}
.right-in-parent
{
	position: absolute;
	right: 0;
}
.border-bottom
{
	border-bottom: 1px;
}
.margin-left--40
{
	margin-left: -40px;
}
.inline-block
{
	display: inline-block;
}
.answer
{
	background-color: orange;
}
.no-left-margin
{
	margin-left: 0px!important;
}
.rate_button:hover
{
	text-decoration: none;
}
html.uk-offcanvas-page body.uk-offcanvas-container div#offcanvas-slide.uk-offcanvas.uk-open div.uk-offcanvas-bar.uk-offcanvas-bar-animation.uk-offcanvas-slide ul.uk-nav.uk-nav-default.uk-nav-parent-icon.orange a
{
	color: #ffbf80;
}
@media only screen and (max-width:959px) {
	.uk-nav
	{
	font-size: 1.2rem;
	}
	body
	{
	padding-top: 10px;
	}
}
@media only screen and (min-width:959px) {
	

}
#sidebar_button{
		display: block;
        margin: 15px;
        position: absolute;
        right: 15px;
        top: 15px;
}
.padding-small-right
{
	padding-right: 10px;
}
.center_verticaly_parent
{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center;
	min-height: 100%;
}